@model UserManagementSystem.ViewModels.ForgetPasswordViewModel

<h1>Password reset form</h1>

<form asp-action="ForgetPassword" method="post">
	<div class="form-group">
	<label > Email</label>
	<input type="email" asp-for="Email" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Continue</button>

</form>