@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>


<button id="createDocBtn" class="btn btn-primary">Create new document</button>


<div id="documentForm" style="dislay:none; margin-top:10px;">
    <input type="text" id="documentbody" class="form-control" />
</div>

